.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  margin-top: 60px;
}

.intro h1 {
  margin-bottom: 32px;
}

.redes-sociais{
  margin-top: 32px;
}

.social-itens {
  display: flex;
  gap: 24px;
}

.social-itens svg {
  width: 32px;
  height: 32px;
}

.social-itens  svg:hover path {
  fill: var(--cor-v6);
  transition: 0.2s ease-in-out;
}
html:has(#toggle:checked) .social-itens  svg:hover path {
  fill: var(--cor-v6);
}

@media (max-width: 1000px) {
  .intro {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .intro-info {
    margin-bottom: 12px;
  }
  .intro h1 {
    max-width: 12ch;
  }
}

@media (max-width: 800px) {
  .intro {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .intro h1 {
    max-width: initial;
  }
  .social-itens svg {
    width: 24px;
    height: 24px;
  }

  .social-itens {
    display: flex;
    gap: 20px;
  }
  .intro {
    margin-top: 56px;
  }
}
