/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

button {
  border: none;
  background: none;
}

/*utilitário*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 80px 40px;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  background: var(--cor-gradient);
  text-transform: uppercase;
}

.btn.download {
  display: flex;
  align-items: center;
  color: var(--cor-v11);
}

.btn.download::after {
  content: "";
  background-image: url(../../img/icones/download.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 12px;
  transition: 0.3s;
}

.btn.seta {
  display: flex;
  align-items: center;
}

.btn.seta::after {
  content: "";
  background-image: url(../../img/icones/seta.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  transition: 0.3s;
}

.btn.off {
  background: none;
  border: 2px solid var(--cor-c4);
  border-radius: 6px;
}
html:has(#toggle:checked) .btn.off{
  border: 2px solid var(--cor-c9);
}

.btn.white {
  background: none;
  border: none;
  text-decoration: underline;
}

.btn.white:hover {
  background: none;
  color: var(--cor-c8);
}
html:has(#toggle:checked) .btn.white:hover {
  color: var(--cor-c4);
}

.btn.off:hover {
  cursor: not-allowed;
  background: none;
}

.btn.seta:hover::after {
  transform: translateX(4px);
}

.btn:hover {
  background: var(--gradient-hover);
}

/*botao tema light e dark*/

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background: var(--cor-c13);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transition: 0.2s ease-in-out;
}
html:has(#toggle:checked) .label{
  background: var(--cor-c1);
}

.label .ball {
  background: var(--cor-w);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
html:has(#toggle:checked) .label .ball {
  background: var(--cor-b);
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f39c12;
}
.fa-sun {
  color: #f1c40f;
}

@media (max-width: 600px) {
  .container {
    padding: 40px 40px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 40px 20px;
  }
}
